@font-face {
    font-family: 'League Spartan';
    src: local('League Spartan'),
         url('./fonts/LeagueSpartan-VF.woff2') format('woff2');
}
:root{
    --font-color: #ffe4c4;
    --bg-color: #060a47;
    --league-spartan: 'League Spartan';
}
/* standard css rules*/
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: var(--league-spartan);
    font-size: 16px;
    color: var(--font-color);
    line-height: 1.5;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: var(--league-spartan);
    font-size: 16px;
    color: var(--font-color);
    line-height: 1.5;
}
#root{
    
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: var(--league-spartan);
    font-size: 16px;
    color: var(--font-color);
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6, p, ul, ol, a {
    color:var(--font-color);
    font-family: var(--league-spartan);
    letter-spacing: .11em;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
h3{
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
h4{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
h5{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
h6{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
button{
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    background-color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}