.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    max-width: 250px;
    margin: 20px auto;
}
.flex{
    display: flex;
    gap: 1em;
    justify-content: center;
}
.userAnswer{
    display: flex;
    overflow-x: auto;
    gap: .5em;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 20px auto;
    height: 120px;
    border-top: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    letter-spacing: 1em;
}